li{
    display: inline;
}

.wrapper {
	width: 70%;
	margin: 0 auto;
}


body {
	line-height: 1.6;
	color: #3a3a3a;
}

a { 
	color:black;
	text-decoration: none;
}

.name{
    margin: 0 300px; 
    color:#fdcb77;
    font-size: 60px;
    text-align: center;
}
.main-header{
    padding: 1em 0;
    border-bottom-color: grey;
    border-bottom-style: solid;
}

.container{
    margin: auto;
    display:flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    border-bottom-color: grey;
    border-bottom-style: solid;
}

ul{
    text-align: center; 
}

img{
    width: 20px;
    height: 20px;
    /* justify-content:flex-end ; */
    margin-left: auto;
}

.price{
    justify-content: flex-end;
    color: blue;
      
}

.catalog{
    display: flex;
    flex-direction: row;
}
h2{
    justify-content: flex-start;
}

form{
     margin-left: auto;
    align-items: bottom;
}

